/* This place has all the css except login.css */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


.submit{
  justify-content: end;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #285BFF;
  width: 100%;
  padding: 1.5%;
  text-align: left;
}

.heading{
  font-size: larger;
  font-weight: 800;
}

.container{
  padding: 5%;
}

ul{
  padding-left: 0%;
}

.headingText{
  font-size:xx-large;
  font-weight: 1000;
}
.product{
  background-color: rgba(86, 163, 252, 0.253);
  padding: 1%;
  /* margin: 1%; */
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
}

.productMod{
  background-color: rgba(165, 162, 162, 0.37);
  padding: 1%;
  margin: 1%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}



/* Stuff I used for popup */
.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav{
  height: 100%!important;
  color:#08395e;
  background-color:white;
}
.topnav{
  background-color:#0E6EB8;
  padding: 1.0%;
}
.btn{
  color:#0E6EB8;
}

.popupInner{
  position:relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: white;
}

.popupInner .closeBtn{
  position: absolute;
  top: 16px;
  right: 16px;
}

.link{
  color: white;
  margin: 5%;
  align-self: center;
}
.link:hover{
  color: #cbd4db;
}
.link:active{
  color:blue;
}

.link3{
  position: absolute;
  color: white;
  right: 38%;
}

.edit{
  margin:8vmax 20% 20% 20%;
  min-height: 100vmax;

}
@media print{
  @page{margin : 10px;};
}

.searchInputWrapper {
  position: relative;
  
}

.searchInput {
  width: 20rem;
  height: 2rem;
  padding: 0 1rem; 
  border-radius: 2rem;
  border: none;
  background-color: rgba(86, 163, 252, 0.253);
  transition: transform 0.1s ease-in-out;
}

::placeholder {
  color: #a1a1a1;
}

/* hide the placeholder text on focus */
:focus::placeholder {
  text-indent: -999px
}

.searchInput:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.searchInputIcon {
  position:relative;
  z-index: 1000;
  left: -2.5rem;
  top: 0.10rem;
  color: #a1a1a1;
  transition: all 0.1s ease-in-out;
}

.searchInputWrapper > .searchInputIcon {
  right: 0.2rem;
}
